.profile__add-button {
  align-self: center;
  width: 150px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: #000;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .1s linear;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
